@font-face {
  font-family: Fuente_principal; /* set name */
  src: url(../Fuentes/D-DIN-Bold.otf); /* url of the font */
}
body{
    font-family: Fuente_principal;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}
nav ul{
    display: inline-flex;
}
header{
    position: sticky;
    top: 0px;
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
}
header nav ul{
    display: inline-flex;
    gap: 30px;
    padding: 0;
}
main{
    height: auto;
    display: flex;
}
footer{
    height: auto;
    display: flex;
    align-items: center;
<<<<<<< HEAD
    width: auto;
    justify-content: space-between;
}
footer nav ul{
    display: flex;
    gap: 30px;
    padding: 0;
=======
    justify-content: space-between;
>>>>>>> e8043198474f51a478e2e23275d0615c39a494b2
}
#footer_info{
    width: 15%;
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
#logos{
    display: flex;
    flex-direction: row;
    width: 7.5%;
    height: 100%;
    justify-content: center;
}
.logo_rss{
    list-style-type: none;
    width: 33%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 33%;
}
#logo_ig{
    background-image: url("../ig_logo.png");
}
#logo_fb{
    background-image: url("../fb_logo.png");
}
#logo_x{
    background-image: url("../x_logo.png");
}