@font-face {
  font-family: Fuente_principal; /* set name */
  src: url(../Fuentes/D-DIN-Bold.otf); /* url of the font */
}
body{
    font-family: Fuente_principal;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    margin: 0;
}
section{
    border-radius: 20px;
}
div{
    border-radius: 20px;
}
header{
    background-color: blueviolet;
    position: sticky;
    top: 0px;
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
}
main{
    margin: 1%;
}
#nav_menu{
    display: inline-flex;
    gap: 30px;
    padding: 0;
}
#logo{  
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("logo.jpg");
}
main{
    height: auto;
    display: flex;
    width: auto;
    justify-content: space-between;
    gap: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
}
#left_upper_container{
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: lightblue;
    grid-column: 1/ span 2; 
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
#banner{
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid #000;
    background: url("banner.jpg");
    background-size: cover;
    grid-row: 1 / span 1;
}
.texto_banner{
    background-color: lightblue; 
    padding: 0.5%;      
}
#packs_de_viaje{
    padding-left: 2.5%;
    background-color: aliceblue;
    grid-row: 2 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
#atras{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
}
#avance{
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
    justify-self: center;
    align-self: center;
}
#pack1{
    grid-column: 2 / span 4;
    width: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    box-sizing: border-box;
    background-image: url("pack_eu.jpg");
    background-size: cover;
}
#pack1 h2 {
    border: 1px solid #000;
    background-color: #fff;
    align-self: baseline;
}

#pack1 h3 {
    border: 1px solid #000;
    background-color: #fff;
    align-self: baseline;
}

#price1 {
    align-self: self-end;
    border: 1px solid #000;
    background-color: #fff;
}

#comprar1 {
    background-color: #fff;
    border: 1px solid #000;
}

#left_lower_container{
    padding-left: 2.5%;
    background-color: lightgreen;
    grid-column: 1/ span 2;
    grid-row: 2 / span 1;

}
#Experiencias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.experiencia{
    grid-column: auto/ span 1;
    grid-row: auto/ span 1;
}
#right_container{
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: orange;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;   
    display: grid;
    grid-template-rows: 25vh 25vh 17vh 15vh;
    justify-items: left;
}
footer{
    height: auto;
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-between;
    background-color: blue;
}
#footer_info{
    width: 15%;
    display: inline-flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
#logos{
    display: flex;
    flex-direction: row;
    width: 7.5%;
    height: 100%;
    justify-content: center;
    justify-items: center;
}
.logo_rss{
    padding-top: 10%;
    list-style-type: none;
    width: 33%;
    background-repeat: no-repeat;
    background-size: contain;
}
#logo_ig{
    background-image: url("ig_logo.png");
}
#logo_fb{
    background-image: url("fb_logo.png");
}
#logo_x{
    background-image: url("x_logo.png");
}
#user_login{
    justify-self: center;
    align-self: center;
    background-color: deeppink;
    padding: 10%;
    border-radius: 20px;
    grid-row: 1 / span 1;
}